
.button {
  box-sizing: border-box;
  margin-top: 15rem;
  margin-left: 10rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #fff;
  background-color: #c82333;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background-color: #35dc51;
}

.popover {
  padding: 0;
  position: absolute;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0, .2);
  border-radius: 0.3rem;
}

.popover-title {
  color: black;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.popover-text {
  font-size: 1rem;
  color: #212529;
}

.popover::before, .popover::after {
  content: ''; 
  position: absolute;
  left: 50%;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid rgb(0, 0, 0, .2);
  transform: translateX(-50%);
}
.popover::after {
  border-top: 10px solid white;
  bottom: -19px; 
}